
.nav-link {
    color: #095221;

}


.header {
    background-color : #28A745;
}

.dropdown-item {
  color: #858C5C;
}

.dropdown-item:hover {
  color: #095221;
    text-decoration: none;
    background-color: transparent;
}